@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body::-webkit-scrollbar {
  @apply w-3;
}

body::-webkit-scrollbar-track {
  @apply bg-neutral-800;
}

body::-webkit-scrollbar-thumb {
  @apply bg-neutral-500/40 rounded-[3px];
}
