@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body::-webkit-scrollbar {
  @apply w-3;
}

body::-webkit-scrollbar-track {
  @apply bg-neutral-800;
}

body::-webkit-scrollbar-thumb {
  @apply bg-neutral-500/40 rounded-[3px];
}

input[type="range"].custom-range::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #22c55e;
  cursor: pointer;
}

input[type="range"].custom-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #22c55e;
  cursor: pointer;
}

input[type="range"].custom-range::-ms-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #22c55e;
  cursor: pointer;
}

.custom-scrollbar {
  @apply overflow-y-auto
  [&::-webkit-scrollbar]:w-2
  [&::-webkit-scrollbar-track]:rounded-full
  [&::-webkit-scrollbar-track]:bg-neutral-800
  [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-thumb]:bg-neutral-500/40;
}

/* Custom styles for range thumb */
.range-thumb-green::-webkit-slider-thumb {
  appearance: none;
  height: 14px;
  width: 14px;
  background-color: #22c55e; /* Tailwind green-500 */
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.range-thumb-green::-moz-range-thumb {
  height: 14px;
  width: 14px;
  background-color: #22c55e; /* Tailwind green-500 */
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.range-thumb-green::-ms-thumb {
  appearance: none;
  height: 14px;
  width: 14px;
  background-color: #22c55e; /* Tailwind green-500 */
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
